<div class="text-center col-md-12 col-sm-12">
<center><h2>Anne Kennedy</h2></center>
<center>
  <h5>I recently completed my bachelor's degree at the University of Minnesota-Twin Cities and am a motivated individual.<br> I am passionate about solving problems in software development and came to Prime Digital Academy to further these skills.</h5><br>
  <th>
  <tr>
    <td class="link">Let's Connect on LinkedIn: <a href="https://www.linkedin.com/in/anne-kennedy-7a7610b6/">View LinkedIn Profile</a></td><br>
    <td class="link">Check Out My Github Profile: <a href="{{uc.user.data.html_url}}">View Github Profile</a></td>
  </th>
  </th>
</center>
</div>
